body {
	background-color: #0f172a;
	color: white;
	font-family: Arial, sans-serif;
	text-align: center;
}

h1 {
	color: #38bdf8;
}

table {
	margin: auto;
	border-collapse: collapse;
	width: 60%;
}

th,
td {
	border: 1px solid #38bdf8;
	padding: 10px;
}

th {
	background-color: #1e293b;
}

tr:nth-child(even) {
	background-color: #1e293b;
}