<!DOCTYPE html>
<html>

<head>

	<meta charset="UTF-8">

	<title>IntrusionX Dashboard</title>

	<link rel="stylesheet" href="/static/style.css">

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

	<h1>IntrusionX - Security Monitor</h1>

	<h2>Suspicious IPs</h2>

	<table>

		<tr>
			<th>IP</th>
			<th>Country</th>
			<th>Attempts</th>
		</tr>

		<tbody id="alert-table">

		</tbody>

	</table>

	<h2>Attack Graph</h2>

	<canvas id="attackChart" width="400" height="200"></canvas>

	<script>
		let chart

		async function fetchAlerts() {

			const response = await fetch('/alerts')

			const data = await response.json()

			const table = document.getElementById("alert-table")

			table.innerHTML = ""

			let labels = []
			let values = []

			data.forEach(alert => {

				labels.push(alert.ip)
				values.push(alert.attempts)

				const row = `
<tr>
<td>${alert.ip}</td>
<td>${alert.country}</td>
<td>${alert.attempts}</td>
</tr>
`

				table.innerHTML += row

			})

			updateChart(labels, values)

		}

		function updateChart(labels, values) {

			const ctx = document.getElementById('attackChart')

			if (chart) {
				chart.destroy()
			}

			chart = new Chart(ctx, {

				type: 'bar',

				data: {

					labels: labels,

					datasets: [{
						label: 'Failed SSH Attempts',
						data: values
					}]

				}

			})

		}

		setInterval(fetchAlerts, 3000)

		fetchAlerts()
	</script>

</body>

</html>